<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'bootstrap-rtl.min.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'accounts/login.css' %}">
</head>

<body>
    <div class="wrap-form col-sm-12 col-md-8 col-lg-6">
    <form id="login-form" class="login" action="{% url 'login' %}" method="post" novalidate="">
     {% csrf_token %}
    <fieldset>
        <div class="form-group">
            <div class="input-group">
                {{ form.phone_email }}
                {{ form.raw_password }}
                <span class="eye eye-visible"></span>
                <div class="input-group-append">
                    <button class="btn submit" type="submit">ورود</button>
                </div>
            </div>
        </div>
    </fieldset>
</form>
</div>
</body>
    <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
    {% comment %} <script src="{% static 'jquery.mobile-1.4.5.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'jquery.validate.min.js' %}"></script> {% endcomment %}
    <script src="{% static 'parsley.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <script src="{% static 'accounts/login.js' %}"></script>
</html>
<!-- end document-->

