<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'bootstrap-rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'jquery.steps.rtl.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'accounts/register.css' %}">
</head>

<body>
    <div class="wrap-form col-sm-12 col-md-8 col-lg-6">
    <form id="register-form" action="{% url 'register' %}" method="post" novalidate="">
     {% csrf_token %}
    <h3><img src="{% static '/accounts/user.png' %}" class="img-icon"></h3>
    <fieldset>
        <div class="form-group">
            <div class="input-group">
                {{ form.phone_email }}
                <div class="input-group-append">
                    <button class="btn next" type="button" name="next">
                    <div class="loader" id="id_phone_email_loader" style="display:none"></div>
                    <span id="id_phone_email_next">بعدی</span>
                    </button>
                </div>
            </div>
        </div>
        {% comment %} <p>(*) Mandatory</p> {% endcomment %}
    </fieldset>
    <h3><img src="{% static '/accounts/number-pad.png' %}" class="img-icon"></h3>
    <fieldset>
        <div class="form-group">
            <div class="input-group">
                {{ form.pincode }}
                <div class="input-group-append">
                    <button class="btn next" type="button" name="next">بعدی</button>
                </div>
            </div>
        </div>
        {% comment %} <p>(*) Mandatory</p> {% endcomment %}
    </fieldset>
    <h3><img src="{% static '/accounts/lock.png' %}" class="img-icon"></h3>
    <fieldset>
        <div class="form-group">
            <div class="input-group">
                {{ form.raw_password }}
                <span class="eye eye-visible"></span>
                <div class="input-group-append">
                    <button class="btn next" type="button" name="next">بعدی</button>
                </div>
            </div>
        </div>
        {% comment %} <p>(*) Mandatory</p> {% endcomment %}
    </fieldset>
    <h3><img src="{% static '/accounts/finish.png' %}" class="img-icon"></h3>
    <fieldset>
        <div class="form-group">
            <div class="input-group">
                {{ form.first_name }}
                {{ form.last_name }}
                <div class="input-group-append">
                    <button class="btn submit" type="button" name="finish" id="finish">ثبت‌نام</button>
                </div>
            </div>
        </div>
        {% comment %} <p>(*) Mandatory</p> {% endcomment %}
    </fieldset>
    <div>
        <span id="reset-form" class="btn btn-primary">ریست</span>
    </div>
</form>
</div>
</body>
    <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
    {% comment %} <script src="{% static 'jquery.mobile-1.4.5.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'jquery.validate.min.js' %}"></script> {% endcomment %}
    <script src="{% static 'parsley.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <script src="{% static 'jquery.steps.js' %}"></script>
    <script src="{% static 'accounts/register.js' %}"></script>
</html>
<!-- end document-->

