body {
    background: #70e1f5;
    background: linear-gradient(to right, #ffd194, #70e1f5);
}

.wrap-form {
    margin: auto;
    margin-top: 20px;
}

span.number {
    display: none;
}

.wizard>.steps li {
    position: relative;
}


/* .wizard>.steps li::after {
    content: "";
    position: absolute;
    width: calc(100% - 70px);
    height: 6px;
    left: calc(50% + 35px);
    top: calc(50% - 3px);
    z-index: -1;
    background: linear-gradient(to right, red 50%, blue 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all 2s ease;
}

.wizard>.steps li.first::after {
    width: 0;
}

.wizard>.steps li.current::after,
.wizard>.steps li.done::after {
    background-position: right bottom;
} */

.wizard>.steps a,
.wizard>.steps a:hover {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: auto;
    text-align: center;
}


/* .wizard>.steps .current a {
    background: linear-gradient(to right, lightgray 50%, blue 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all 2s ease;
    transition-delay: 2s;
}

.wizard>.steps .current a {
    background-position: right bottom;
} */

.wizard>.content {
    min-height: unset;
    background: none;
}

.wizard>.content>.body {
    float: right;
    width: 100%;
    height: 100%;
    padding: 2.5%;
    position: relative;
}

.wizard>.content>.body input {
    height: 2.5em;
    border-top-right-radius: 1.25em;
    border-bottom-right-radius: 1.25em;
    padding-right: 1.5em;
    border: none;
}

.wizard>.content>.body .next,
.wizard>.content>.body .submit {
    background: blue;
    color: white;
    border-top-left-radius: 1.25em;
    border-bottom-left-radius: 1.25em;
    width: 6em;
    padding: 0;
}

.wizard>.steps .done a {
    cursor: default;
}

.invalid-feedback {
    display: inline;
}

.invalid-feedback li {
    list-style: none;
}

.form-control.is-valid:focus,
.form-control.is-invalid:focus,
.form-control:focus {
    box-shadow: none;
}

.img-icon {
    width: 40px;
    height: 40px
}

.eye {
    width: 2.5em;
    height: 2.5em;
    background-color: white;
    background-size: 1.5em 1.5em;
    background-position: center;
    background-repeat: no-repeat;
}

.eye-visible {
    background-image: url("/static/accounts/eye-visible.png")
}

.eye-invisible {
    background-image: url("/static/accounts/eye-invisible.png")
}

.loader {
    display: block;
    border: 6px solid #323232;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    margin: auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}